.backBtn {
  display: inline-flex;
  padding: 8px 20px;
  align-items: center;
  justify-content: center;
  max-width: 165px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #bf9039;
  border: none;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backBtn:hover {
  background-color: #957945;
}

.poster {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-shrink: 0;
  width: 500px;
  height: fit-content;
}
